[Unit]
Description=OPC UA Skill Server (IEC61499 bridge)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/skillserver/SkillServer.sh

[Install]
WantedBy=multi-user.target